<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.mapper.DeviceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lz.model.Device">
		<id column="id" property="id" />
		<result column="sn" property="sn" />
		<result column="status" property="status" />
		<result column="station_id" property="stationId" />
		<result column="station" property="station" />
		<result column="name" property="name" />
		<result column="create_time" property="createTime" />
		<result column="type" property="type" />
		<result column="product_id" property="productId" />
		<result column="location" property="location" jdbcType="OTHER"
			typeHandler="com.lz.config.JsonTypeHandler" />
		<result column="icon" property="icon" />
		<result column="product_name" property="productName" />
		<result column="gateway" property="gateway" />
		<result column="product_code" property="productCode" />
		<result column="version" property="version" />
		<result column="test_status" property="testStatus" />
		<result column="dev_info" property="devInfo" jdbcType="OTHER"
			typeHandler="com.lz.config.JsonTypeHandler" />
		<result column="report_info" property="reportInfo" jdbcType="OTHER"
			typeHandler="com.lz.config.JsonTypeHandler" />
	</resultMap>

</mapper>